/* .page {
  width: 100%;
} */

.form {
  width: 100%;
}

.group {
  display: flex;
  flex-wrap: wrap; /* Wrap the elements */
  margin-top: 4px;
}

.group label {
  display: flex;
  width: 50%;
  line-height: 30px;
  justify-content: right;
  align-items: center;
}

.group input, .group select {
  width: 250px;
  border: 1px solid rgb(116, 115, 115);
  padding-left: 3px;
}

.group .error {
  color: #cc0033;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
  width: 25%;
}

.group button {
  width: 25%;
  line-height: 30px;
  justify-content: right;
  align-items: right;
  float: right
}

input, select {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.error {
  color: red;
}

.button {
  color: gray;
}
.styledButton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


